# Welcome to Jekyll!
#
# This config file is meant for settings that affect your whole blog, values
# which you are expected to set up once and rarely edit after that. If you find
# yourself editing this file very often, consider using Jekyll's data files
# feature for the data you need to update frequently.
#
# For technical reasons, this file is *NOT* reloaded automatically when you use
# 'bundle exec jekyll serve'. If you change this file, please restart the server process.

# Site settings
# These are used to personalize your new site. If you look in the HTML files,
# you will see them accessed via {{ site.title }}, {{ site.email }}, and so on.
# You can create any custom variable you would like, and they will be accessible
# in the templates via {{ site.myvariable }}.
title: Unscrambled Computer Science
author: Ines Panker
description: ""
baseurl: "" # the subpath of your site, e.g. /blog
url: "http://www.ines-panker.com" # the base hostname & protocol for your site, e.g. http://example.com
logo: "/assets/ines-panker-logo.jpg"
google_analytics: true

permalink: /:year/:month/:day/:title.html

social:
  github: inesp
  linkedin: "ines-p-a6284a87"
  twitter: "ines_panker" 
  medium: "ines.panker"

# Build settings
markdown: kramdown
kramdown:
  parse_block_html: true
  math_engine: mathjax
  math_engine_opts:
    preview: true
    preview_as_code: true
  syntax_highlighter: rouge
  syntax_highlighter_opts:
    default_lang: python
    css_class: 'highlight'
    span:
    block:

highlighter: rouge

plugins:
  - jekyll-feed
  - jekyll-sitemap
  - jekyll-seo-tag
  - jemoji

show_excerpts: true
date_format: "%-d. %b %Y"

defaults:
  -
    scope:
      path: ""
      type: "posts"
    values:
      layout: "post"
      author: "Ines Panker"

sass:
  load_paths:
    - _sass
    - node_modules


feed:
  categories:
    - python

# Exclude from processing.
# The following items will not be processed, by default. Create a custom list
# to override the default setting.
# exclude:
#   - Gemfile
#   - Gemfile.lock
#   - node_modules
#   - vendor/bundle/
#   - vendor/cache/
#   - vendor/gems/
#   - vendor/ruby/
