
{% if include.ref %}
<p class="source-link"
   ><img
    src="/assets/{{ include.src }}"
    alt="{{ include.alt }}"
    class="{{ include.class }}">

    <a
      href="{{ include.ref  }}"
      target="_blank"
      class="text-muted">{{ include.ref_intro }}{{ include.ref }}</a>
</p>

{% else %}

<p>
  <a href="{{ include.link }}"
     target="_blank"
     class="text-muted"
     ><img
        src="/assets/{{ include.src }}"
        alt="{{ include.alt }}"
        class="{{ include.class }}">
  </a>
</p>

{% endif %}
