
{% if page.next or page.previous %}
  <div class="other-posts separator-space">
    <h4>Other posts you might also like: </h4>

    <ul>

      {% if page.next %}
        <li><a href="{{ page.next.url }}">{{ page.next.title }}</a></li>

        {% if page.next.next %}
          <li><a href="{{ page.next.next.url }}">{{ page.next.next.title }}</a></li>
        {% endif %}

      {% endif %}

    {% if page.previous %}
      <li><a href="{{ page.previous.url }}">{{ page.previous.title }}</a></li>

      {% if page.previous.previous %}
        <li><a href="{{ page.previous.previous.url }}">{{ page.previous.previous.title }}</a></li>
      {% endif %}

    {% endif %}
    </ul>
  </div>
{% endif %}
