{% comment %}
- posts
- teaser_length
- show_archive_link
{% endcomment %}

{%- assign clean_teaser_length = include.teaser_length | default: 15 -%}

<ul class="list-unstyled">
  {%- for post in include.posts -%}
    <li class="post-item">
      <h3 class="post-title">
        <a href="{{ post.url | relative_url }}">{{ post.title }}</a>
      </h3>

      <div class="flex-row post-meta">
        <span class="text-muted">{{ post.date | date: "%b %-d, %Y" }}</span>
        {%- if post.tags -%}
          <span>•</span>
          {%- for tag in post.tags -%}
            {% assign tag_slug = tag | slugify %}
            <a href="{{ '/topic/' | append: tag_slug | relative_url }}"><span class="badge bg-yellow">{{ tag }}</span></a>
          {%- endfor -%}
        {%- endif -%}
      </div>

      {%- if post.excerpt -%}
        <p class="post-teaser">{{ post.excerpt | strip_html | truncatewords: clean_teaser_length }}</p>
      {%- endif -%}
    </li>
  {%- endfor -%}
</ul>

{%- if include.show_archive_link -%}
  <p class="topic-more">
    <a href="/archive/">View whole archive</a>
  </p>
{%- endif -%}

