
$color-gray: #dadada;
$color-gray-2: #9f9f9f;
$color-gray-3: #6c757d;
$color-yellow: #fff283;
$color-yellow-dark: #ffed50;
$color-hover-red: #ff0040;  // #673e9c <- violet
$color-red-bright: #ff7898;
$color-red-light: #ffe6e6;
$color-text: #212529;
$color-badge-text: #5c5200;

$standard-margin: 2rem;
$standard-radius: 6px;
