
$color-gray-lightest: #f0f0f0;
$color-gray: #dadada;
$color-gray-2: #9f9f9f;
$color-gray-3: #6c757d;
$color-gray-4: #495057;
$color-yellow-light: #fff8cd;
$color-yellow: #fff283;
$color-yellow-dark: #ffed50;
$color-yellow-border: #e7d749;
$color-yellow-dark-2: #e6a000;
$color-yellow-dark-3: #ffcf65;
$color-hover-red: #ff0040;  // #673e9c <- violet
$color-red-darker: #fd456f;
$color-red-darkest: #e60038;
$color-red-bright: #ff7898;
$color-red-light: #ffe6e6;
$color-purple: #da4ada;
$color-purple-light: #ffeaff;
$color-green: #4a9c6d;
$color-green-light: #e0f2e7;
$color-green-dark: #316849;
$color-green-vivid: #28a745;
$color-green-mint: #d4edda;
$color-teal: #06bdad;
$color-teal-dark: #00a89a;
$color-teal-light: #e0f7f5;
$color-blue: #35b0e8;
$color-blue-dark: #0288d1;
$color-blue-light: #e1f5fe;
$color-text: #212529;
$color-badge-text: #5c5200;

$quarter-standard-margin: 0.5rem;
$half-standard-margin: 1rem;
$standard-margin: 2rem;
$standard-radius: 6px;
$double-radius: 9px;

$standard-font-size: 1.1rem;
$standard-line-height: 1.8;

$h1-font-size: var(--h1-size);
$h2-font-size: var(--h2-size);
$h3-font-size: var(--h3-size);
$h4-font-size: var(--h4-size);
