
$color-gray: #dadada;
$color-gray-2: #9f9f9f;
$color-gray-3: #6c757d;
$color-gray-4: #495057;
$color-yellow: #fff283;
$color-yellow-dark: #ffed50;
$color-yellow-border: #e7d749;
$color-hover-red: #ff0040;  // #673e9c <- violet
$color-red-darker: #fd456f;
$color-red-darkest: #e60038;
$color-red-bright: #ff7898;
$color-red-light: #ffe6e6;
$color-text: #212529;
$color-badge-text: #5c5200;

$standard-margin: 2rem;
$standard-radius: 6px;
$double-radius: 9px;

$standard-font-size: 1.1rem;
$standard-line-height: 1.8;

$h1-font-size: var(--h1-size);
$h2-font-size: var(--h2-size);
$h3-font-size: var(--h3-size);
$h4-font-size: var(--h4-size);
