.collection-title {
  font-size: $h2-font-size;
  font-weight: 300;
  margin-bottom: 0.4rem;
  letter-spacing: 0.11em; /* more airy to create separation */

  a {
    text-decoration: none;
    font-weight: 300;
  }

  a:hover {
    text-decoration: underline;
    opacity: 0.85;
  }
}

.article-body h2,.article-body h3,.article-body h4,.article-body h5,.article-body h6,
.article-body .h1, .article-body .h2, .article-body .h3, .article-body .h4, .article-body .h5, .article-body .h6{
  margin-top: 4rem;
  margin-bottom: $standard-margin;
}

.article-body .w-65{
    width: 65%;
    @media (max-width: 991.9px) {
      width: 100%;
    }
}

.article-body img{
  max-width: 100%;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;

  &.full-width{
    width:100%
  }

  &.yellow{
    border: 1rem solid $color-yellow;
  }
}

.article-body ul{
  margin-bottom: $standard-margin;
}
