// Prism.js code block overrides

@import "colors";

code[class*="language-"],
pre[class*="language-"] {
  font-family: "Fira Code", "Consolas", "Monaco", monospace;
  font-size: 0.9rem;
  text-shadow: none;
  line-height: 1.5;
}

// Inline code
code:not([class*="language-"]) {
  text-shadow: none;
}

// comments in code
code .token.comment{
  color: $color-yellow-dark;
}

/** CODE ***/
pre {
  margin-bottom: $standard-margin !important;
}
pre:has(+ pre) {
  margin-bottom: 0.1 * $standard-margin !important;
}
