@import "colors";

.categories-list {
  list-style: none;
  padding: 0;
  max-width: 100% !important;

  li {
    transition: background 0.2s ease-in-out;
    border-left: 4px solid transparent;
    padding: 0.5rem 0;
    width: 100%;
  }
  li:hover {
    background-color: #ffe6e6;
    border-left: 4px solid $color-red-bright;
  }

  span.badge{
    background-color: $color-red-light;
    color: $color-red-darker;
  }
}


/* Other Topics section */
.other-topics {
  margin: 6rem 0 5rem;
  padding-top: 2rem;
  border-top: 3px solid $color-yellow-dark;


  h4 {
    margin-bottom: 1rem;
  }

  .topic-list {
    gap: 0.8rem 1rem;
    font-size: $h4-font-size;
  }
}
