---
---

@import url('https://fonts.googleapis.com/css?family=Saira+Stencil+One|Exo+2:wght@400;600&display=swap');
@import "rouge.scss";

$color-yellow: #fff283;
$color-hover-red: #ff0040;  // #673e9c <- violet
$color-text: #212529;

body{
}

aside {
  background: $color-yellow;
  position:relative;

  h2{font-family: 'Saira Stencil One', cursive;}

  h3{
    font-size: 1.2rem;
    text-transform: uppercase;
    font-weight: bold;
  }

  @media (max-width: 991.9px) {
    h2, h3, p {
      margin-bottom: 0.5rem;
    }
  }

  a.my-name{text-decoration: underline; font-family: 'Saira Stencil One', cursive;}
}

.aside-padding{
  padding-top: 0.5rem;

  @media (min-width: 992px){
    padding-top: 4rem;
  }
}
.main-padding{
  padding-top: 2rem;

  @media (min-width: 992px)  {
    padding-top: 4rem;
  }
}


p {
  @media (min-width: 768px)  {
    font-size:1.15rem;
    line-height: 1.325;
    margin-bottom:2rem;
  }
}
.table p {
  font-size: inherit;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

h1,h2,h3,h4,h5,h6, .h1, .h2, .h3, .h4, .h5, .h6{
  font-family: "Exo 2";
  margin-bottom: 1rem;
  text-transform: capitalize;
}
.post-content h2,.post-content h3,.post-content h4,.post-content h5,.post-content h6,
.post-content .h1, .post-content .h2, .post-content .h3, .post-content .h4, .post-content .h5, .post-content .h6{
  margin-top: 4rem;
  margin-bottom: 2rem;
}
.post-excerpt h2{
  text-transform: uppercase;
  font-size: 2rem;
}

.technical h2{
  padding-top: 2rem;
  border-top: 3px solid #65a8c5;
}

a {
  color: $color-text;

  &:hover{
    color: $color-hover-red;
  }
}

.post-content a, .footer a, .post-edit-link a{
  color: $color-text;
  text-decoration: underline;

  &:hover {
    color: $color-hover-red;
  }
}

.post-excerpt{
  margin-bottom: 8rem;
}


.title-underscore{
  background-color: #DADADA;
  height: 1px;

  span{
    display: block;
    width: 50px;
    height: 2px;
    background-color: #ffe400;
  }
}

img {
  max-width: 100%;
  height: auto;
}

@media (min-width: 1200px) {
  .post-content{
    p, hr, ul{
      max-width: 800px;
    }
  }

  .post-content table{
    min-width: 800px;
    width: auto;
    max-width: 100%;
  }
  .highlight, p.post-edit-link, .post-excerpt, .title-underscore{
    max-width: 800px;

    img {
      max-width: 100%;
      height: auto;
    }
  }

  .MathJax_Display {
    max-width: 800px !important;
  }
}


code { font-size: 85%}



.box{
  border: 1px solid #ddd;
  padding: 5px 10px;
  border-left: 3px solid #ffd059;
  margin-bottom:1rem;
}

.source-link{
  text-align:center;

  a{
    font-style: italic;
    font-size: 80%;
  }
}

.post-meta {
  font-size: 90%;
}

.post-content img{
  max-width: 100%;
  height: auto;

  &.full-width{
    width:100%
  }

  &.yellow{
    border: 1rem solid $color-yellow;
  }
}

.post-content table, .post-content ul{
  margin-bottom:2rem;
}


blockquote {
  border-left: 10px solid $color-yellow;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  quotes: "\201C""\201D";

  &:before {
    color: #ffeb41;
    content: open-quote;
    font-size: 4em;
    line-height: 0.1em;
    margin-right: 0.25em;
    vertical-align: -0.4em;
  }
}


/**
 * Social media
 */
.social-icons{
  list-style: none;
  margin-left: 0;
  margin-bottom: 2rem;
  padding-left: 0;
  display: table;

  @media (min-width: 700px) and (max-width: 991.9px)  {
    position: absolute;
    right: 0;
    top: 6px;
  }
}

.social-icons li{
  float: left;
  margin: 0 5px 0 0;
}

.external_links{
  margin-top: 3.5rem;
}

.post-edit-link{
  padding-top: 1rem;
  margin-top: 3.5rem;
  font-family: "Exo 2";
  margin-bottom: 1rem;
}

/**
 * Math highlighting styles
 */
.MathJax_Display, .MathJax{
  color: #d2196e;
}


/**
 * Separator
 */
 .separator-space{padding-bottom: 150px;}
 .separator {
   bottom: 0px;
   left: 0;
   overflow: hidden;
   position: absolute;

   width: 100%;
 }
