---
---

@import url('https://fonts.googleapis.com/css?family=Saira+Stencil+One|Exo+2:wght@400;600&Google+Sans+Code:ital,wght@0,300..800;1,300..800&display=swap');
@import "monokai.css";
@import "emails";
@import "colors";
@import "box";
@import "tables";
@import "quote";


aside {
  background: $color-yellow;
  position:relative;

  h2{
    font-family: 'Saira Stencil One', cursive;
    a {
      text-decoration: none;
    }
  }

  h3{
    font-size: 1.2rem;
    text-transform: uppercase;
    font-weight: bold;
  }

  @media (max-width: 991.9px) {
    h2, h3, p {
      margin-bottom: 0.5rem;
    }
  }

  a.my-name{font-family: 'Saira Stencil One', cursive;}

  .talks-link {
    font-weight: 600;
    color: $color-text;
    transition: color 0.2s ease;
  }

  /**
   * Social media
   */
  .social-icons {
    list-style: none;
    margin-left: 0;
    margin-bottom: $standard-margin;
    padding-left: 0;
    display: table;

    @media (min-width: 700px) and (max-width: 991.9px) {
      position: absolute;
      right: 1rem;
      top: 1rem;
    }

    li {
      float: left;
      margin: 0 5px 0 0;
    }
  }


}

.aside-padding{
  padding-top: 0.5rem;

  @media (min-width: 992px)  {
    padding-top: 4rem;
  }
}

.main-padding{
  padding-top: 3rem;

  @media (min-width: 992px)  {
    padding-top: 4rem;
  }
}


p {
  line-height: 1.8;
  @media (min-width: 768px)  {
    font-size: $standard-font-size;
    line-height: $standard-line-height;
    margin-bottom: $standard-margin;
  }
}
li {
  line-height: 1.8;
  @media (min-width: 768px)  {
    font-size: $standard-font-size;
    line-height: $standard-line-height;
  }
}
ul{
  @media (min-width: 768px)  {
    margin-bottom: 1rem;
  }
}


h1,h2,h3,h4,h5,h6, .h1, .h2, .h3, .h4, .h5, .h6{
  font-family: "Exo 2";
  margin-bottom: 1rem;
  line-height: 1.6;
  text-decoration: none;
  code {
    text-transform: none;
  }
}

.post-content h2,.post-content h3,.post-content h4,.post-content h5,.post-content h6,
.post-content .h1, .post-content .h2, .post-content .h3, .post-content .h4, .post-content .h5, .post-content .h6{
  margin-top: 4rem;
  margin-bottom: $standard-margin;
}

.post-content .w-65{
    width: 65%;
    @media (max-width: 991.9px) {
      width: 100%;
    }
}

.post-excerpt {
  margin-bottom: 8rem;

  h2 {
    font-size: 2rem;
    line-height: 1.625;
    text-decoration: none;

    a{
      text-decoration: none;
      &:hover {
        text-decoration: underline;
      }
    }
  }
}

.technical h2{
  padding-top: 2rem;
  border-top: 3px solid #65a8c5;
}

a {
  color: $color-text;

  &:hover{
    color: $color-hover-red;
  }

  code {
    color: var(--bs-code-color);
    &:hover {
      color: $color-hover-red;
    }
  }
}

.post-content a, .footer a, .post-edit-link a{
  color: $color-text;
  text-decoration: underline;

  &:hover {
    color: $color-hover-red;
  }
}


.title-underscore{
  background-color: $color-gray;
  height: 1px;

  span{
    display: block;
    width: 50px;
    height: 2px;
    background-color: #ffe400;
  }
}

img {
  max-width: 100%;
  height: auto;
}

@media (min-width: 1200px) {
  .post-content{
    p, hr, ul, ol{
      max-width: 800px;
    }
  }
  .post-content table {
    max-width: 100%;
  }
  .highlight, p.post-edit-link, .post-excerpt, .title-underscore{
    max-width: 800px;

    img {
      max-width: 100%;
      height: auto;
    }
  }

  .MathJax {
    max-width: 800px !important;
  }
}


h5.external_links{
  margin-bottom: 1rem;
}
.external_links li{margin-bottom: 0.1rem;}


.other-posts{
  padding-top: 50px;
  background: #fff283;
  margin: 0 -15px;
  padding: 50px 0 15px;

  ul {
    list-style: none;
  }

  a{
    text-decoration: underline;
  }

  li::before {
    content: "✅";
    display: inline-block;
    margin-right: 0.2rem;
  }

  li:nth-child(2)::before {
    content: "🎯";
  }

  li:nth-child(3)::before {
    content: "📯";
  }

}

.source-link{
  text-align:center;

  a{
    font-style: italic;
    font-size: 80%;
  }
}

.post-meta {
  font-size: 90%;
  line-height: 1.8;
  margin-bottom: 1rem;
}

.post-content{
  padding-top: 2rem;
}

.post-content img{
  max-width: 100%;
  height: auto;

  &.full-width{
    width:100%
  }

  &.yellow{
    border: 1rem solid $color-yellow;
  }
}

.post-content ul{
  margin-bottom: $standard-margin;
}


blockquote {
  border-left: 10px solid $color-yellow;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  quotes: "\201C""\201D";

  &:before {
    color: #ffeb41;
    content: open-quote;
    font-size: 4em;
    line-height: 0.1em;
    margin-right: 0.25em;
    vertical-align: -0.4em;
  }

  p:last-child{
    margin-bottom: 0;
  }
}
figcaption{
  font-style: italic;
}




.post-edit-link{
  padding-top: 1rem;
  margin-top: 3.5rem;
  font-family: "Exo 2";
  margin-bottom: 1rem;
}

/**
 * Math highlighting styles
 */
.MathJax{
  color: #d2196e;
}

.highlight {
  pre {
    padding: 15px 20px;
    border-radius: 5px;
  }
}

/**
 * Separator
 */
 .separator-space{
   padding-bottom: 200px;
   @media (max-width: 700px)  {
     padding-bottom: 300px;
   }
 }
 .separator {
   bottom: 0px;
   left: 0;
   overflow: hidden;
   position: absolute;
   padding-left: 0;
   padding-right: 0;

   width: 100%;
 }


 /**
  * tags
  */
.badge{
  &.bg-yellow{
    background: $color-yellow-dark;
    color: $color-badge-text;
  }
  margin-right: 0.75rem;
}
.tags{
  margin-bottom: 1rem;
  margin-top: -0.5rem;
}



