---
---

@import "font_sizes";
@import "fonts";
@import "monokai.css";
@import "emails";
@import "colors";
@import "box";
@import "tables";
@import "quote";
@import "topics";
@import "home";
@import "posts_section";
@import "post";
@import "footer";
@import "other_posts";



aside {
  background: $color-yellow;
  position:relative;

  h2{
    font-family: 'Saira Stencil One', cursive;
    font-size: $h1-font-size;
    a {
      text-decoration: none;
    }
  }

  h3{
    text-transform: uppercase;
    font-weight: bold;
  }

  @media (max-width: 991.9px) {
    h2, h3, p {
      margin-bottom: 0.5rem;
    }
  }

  a.my-name{font-family: 'Saira Stencil One', cursive;}

  .talks-link {
    font-weight: 600;
    color: $color-text;
    transition: color 0.2s ease;
  }

  /**
   * Social media
   */
  .social-icons {
    list-style: none;
    margin-left: 0;
    margin-bottom: $standard-margin;
    padding-left: 0;
    display: table;

    @media (min-width: 700px) and (max-width: 991.9px) {
      position: absolute;
      right: 1rem;
      top: 1rem;
    }

    li {
      float: left;
      margin: 0 5px 0 0;
    }
  }


}

.aside-padding{
  padding-top: 0.5rem;

  @media (min-width: 992px)  {
    padding-top: 4rem;
  }
}

.main-padding{
  padding-top: 3rem;

  @media (min-width: 992px)  {
    padding-top: 4rem;
  }
}

.reading-width{
  max-width: 800px;
}

p {
  line-height: 1.8;
  @media (min-width: 768px)  {
    font-size: $standard-font-size;
    line-height: $standard-line-height;
    margin-bottom: $standard-margin;
  }
}
li {
  line-height: 1.8;
  @media (min-width: 768px)  {
    font-size: $standard-font-size;
    line-height: $standard-line-height;
  }
}
ul{
  @media (min-width: 768px)  {
    margin-bottom: 1rem;
  }
}


h1,h2,h3,h4,h5,h6, .h1, .h2, .h3, .h4, .h5, .h6{
  font-family: "Exo 2";
  margin-bottom: 1rem;
  line-height: 1.6;
  text-decoration: none;
  code {
    text-transform: none;
  }
}



a {
  color: $color-text;

  &:hover{
    color: $color-hover-red;
  }

  code {
    color: var(--bs-code-color);
    &:hover {
      color: $color-hover-red;
    }
  }
}

.article-body a{
  color: $color-text;
  text-decoration: underline;
  transition: color 0.2s ease-in-out;

  &:hover {
    color: $color-hover-red;
  }
}

img {
  max-width: 100%;
  height: auto;
}

@media (min-width: 1200px) {
  .article-body table {
    max-width: 100%;
  }
  .highlight, .post-excerpt, .home, .topic-page{
    img {
      max-width: 100%;
      height: auto;
    }
  }

  .MathJax {
    max-width: 800px !important;
  }
}

.source-link{
  text-align:center;

  a{
    font-style: italic;
    font-size: 80%;
  }
}

.post-meta {
  font-size: 0.9rem;
  letter-spacing: 0.03em;
}



blockquote {
  border-left: 6px solid $color-yellow;
  margin: 1.5em 0;
  padding: 0.5em 10px;
  quotes: "\201C""\201D";

  &:before {
    color: #ffeb41;
    content: open-quote;
    font-size: 4em;
    line-height: 0.1em;
    margin-right: 0.25em;
    vertical-align: -0.4em;
  }

  p:last-child{
    margin-bottom: 0;
  }
}
figcaption{
  font-style: italic;
}

/**
 * Math highlighting styles
 */
.MathJax{
  color: #d2196e;
}

.highlight {
  pre {
    padding: 1rem;
    border-radius: 5px;
  }
}


 /**
  * tags
  */
.badge{
  &.bg-yellow{
    background: $color-yellow;
    border: 1px solid $color-yellow-border;
    color: $color-badge-text;
  }
  //font-family: "Noto Serif JP", serif;
  //font-family: "Noto Serif JP", "Hiragino Mincho ProN", "Yu Mincho", serif;
  font-size: 0.85rem;
  padding: 0.25em 0.55em;
  margin-right: 0.4rem;
  border-radius: 4px;
  letter-spacing: 0.03em;
}

.flex-row {
  display: flex;
  flex-direction: row;
  align-items: baseline; /* aligns title text baseline with date */
  flex-wrap: wrap; /* allows wrapping on small screens */
  gap: 0.35rem 0.45rem;
}

.colorful{
  height: 5px;
  width: 100%;
  background-image: linear-gradient(90deg, $color-red-darker, $color-yellow);
  margin-bottom: $standard-margin;
}
