<!doctype html>
  <head lang="en">
    {%- include head.html -%}

    {%- include mathjax.html -%}
  <body>

    <div class="site-layout">

      <aside class="aside-padding">
        {%- include sidebar.html -%}
      </aside>

      <div class="site-main main-padding">
        {%- if page.fluid -%}
        <div class="content-fluid">
          {{ content }}
        </div>
        {%- else -%}
        <div class="content-centered">
          <div class="content-justify-center">
            <div class="reading-width">
              {{ content }}
            </div>
          </div>
        </div>
        {%- endif -%}

        {%- include other_posts.html -%}
      </div>

      <footer class="site-footer footer py-5 position-relative">
        <div class="footer-stroke position-absolute top-0 start-0 w-100"></div>
        <div class="content-centered text-center">
          <p class="mb-1 footer-moto">Crafted by me, during odd hours</p>
          <p class="text-muted small mb-0 mt-0">© {{ "now" | date: "%Y"}} Ines Panker</p>
          <div class="footer-signature mt-2">✍︎</div>
        </div>
      </footer>

    </div>

    <!-- Prism.js syntax highlighting -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/prism.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/plugins/autoloader/prism-autoloader.min.js"></script>
  </body>
</html>
