<!doctype html>
  <head lang="en">
    {%- include head.html -%}

    {%- include mathjax.html -%}
  <body>

    <div class="container-fluid">

      <div class="row position-relative" style="min-height:100vh">
        <aside class="col-md-12 col-lg-3 aside-padding">
          {%- include sidebar.html -%}
        </aside>

        <div class="col-md-12 col-lg-9 main-padding">
          <div class="container">
            <div class="row justify-content-center">
              <div class="{%- unless page.fluid -%}reading-width{%- endunless -%}">
                {{ content }}
              </div>
            </div>
          </div>

          {%- include other_posts.html -%}
        </div>

        <footer class="footer py-5 position-relative">
          <div class="footer-stroke position-absolute top-0 start-0 w-100"></div>
          <div class="container text-center">
            <p class="mb-1 footer-moto">Crafted by me, during odd hours</p>
            <p class="text-muted small mb-0">© {{ "now" | date: "%Y"}} Ines Panker</p>
            <div class="footer-signature mt-2">✍︎</div>
          </div>
        </footer>


      </div>
    </div>
  </body>
</html>
