---
layout: default
---


<article itemscope itemtype="http://schema.org/BlogPosting">

  <header class="post-heading text-center mb-2" itemscope itemtype="http://schema.org/BlogPosting">

    <p class="post-meta text-muted">
      Published: <time itemprop="datePublished" datetime="{{ page.date | date_to_xmlschema }}">
        {{ page.date | date: site.date_format }}
      </time>
        • <span itemprop="author" itemscope itemtype="http://schema.org/Person">{{ page.author | escape }}</span>
    </p>

    {% comment %}Look up collection display_title from topics.yml{% endcomment %}
    {% if page.series %}
      {% assign collection_data = site.data.topics[page.series] %}
      {% assign collection_display = collection_data.display_title | default: page.series %}
      {% assign series_slug = page.series | slugify %}
      {% assign collection_url = '/topic/' | append: series_slug | append: '/' %}
      <div class="collection-title mb-1">
        <a href="{{ collection_url | relative_url }}">{{ collection_display }}</a>
      </div>
    {% endif %}

    <h1 class=" mb-4" itemprop="name headline">{{ page.title }}</h1>

    <div class="flex-row justify-content-center">{%- for tag in page.tags -%}
      {% assign tag_slug = tag | slugify %}
      <a href="{{ '/topic/' | append: tag_slug | relative_url }}"><span class="badge bg-yellow">{{ tag }}</span></a>{%- endfor -%}</div>
  </header>

  <div class="article-body {{ page.css | escape }} my-5" itemprop="articleBody">
    {{ content }}

    {%- include biblio.html -%}
  </div>

  <a class="u-url" href="{{ page.url | relative_url }}" hidden></a>

</article>
