---
layout: default
---


<article itemscope itemtype="http://schema.org/BlogPosting">

  <header>
    <h1 class="" itemprop="name headline">{{ page.title | escape }}</h1>

    <p class="post-meta text-muted">
      <time class="dt-published" datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
        {{ page.date | date: site.date_format }}
      </time>
        • <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span class="p-author h-card" itemprop="name">{{ page.author | escape }}</span></span>
    </p>

  </header>

  <div class="post-content" itemprop="articleBody">
    {{ content }}

    {%- include biblio.html -%}
  </div>

  <a class="u-url" href="{{ page.url | relative_url }}" hidden></a>

</article>
    
<div><p class="post-edit-link"><a target="_blank" href="{{site.github.repository_url}}/blob/master/{{page.path}}">Found a typo or a mistake? Edit this page</a></p></div>
