---
layout: default
---


<article itemscope itemtype="http://schema.org/BlogPosting">

  <header>

    <p class="post-meta text-muted">
      <time class="dt-published" datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
        Published: {{ page.date | date: site.date_format }}
      </time>
        • <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span class="p-author h-card" itemprop="name">{{ page.author | escape }}</span></span>
    </p>

    <h1 itemprop="name headline">{{ page.title }}</h1>
    <div class="flex-row">{%- for tag in page.tags -%}
      {% assign tag_slug = tag | slugify %}
      <a href="{{ '/topic/' | append: tag_slug | relative_url }}"><span class="badge bg-yellow">{{ tag }}</span></a>{%- endfor -%}</div>
  </header>

  <div class="post-content {{ page.css | escape }}" itemprop="articleBody">
    {{ content }}

    {%- include biblio.html -%}
  </div>

  <a class="u-url" href="{{ page.url | relative_url }}" hidden></a>

</article>
