---
layout: default
---

{% assign tag = page.tags %}
{% if tag %}
  {% assign posts = site.tags[tag] %}
  {% assign show_archive_link = true %}
{% else %}
  {% assign posts = site.posts %}
  {% assign show_archive_link = false %}
{% endif %}

<h1 class="text-center">{{ page.title }}</h1>

<div class="flex-row justify-content-center">{%- for tag in page.tags -%}
  {% assign tag_slug = tag | slugify %}
  <span class="badge bg-yellow-washed-out">{{ tag }}</span>{%- endfor -%}</div>

<div class="my-5">
  {{ content }}
</div>

<div class="colorful"></div>

<div class="topic-page">

  <section>
    {%- include posts_section.html posts=posts show_archive_link=show_archive_link -%}
  </section>

  {%- include all_topics.html -%}

</div>



